h1 {
    color: red;
    background-color: lightBlue;
    border: 5px solid black;
    padding: 5px;
    border-radius: 15px;
    text-align: center;
}

h2 {
    color: blue;
}

p, h1, h2 {
    font-family: impact;
}

p, img, ul, ol {
    margin-left: 50px;
}

.shadowimg {
    box-shadow: 10px 10px 15px grey;
}

.cutePara {
    color: pink;
    font-family: cursive;
    font-size: 25px;
}

#secondPara {
    color: brown;
}
